@import url('https://fonts.googleapis.com/css?family=Poppins');
/* nav {
  background-color: #ffffff;
}

.main-nav {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.main-nav li {
  margin-right: 15px;
}

.main-nav li:last-child {
  margin-right: 0;
}

.logo {
  position: absolute;
  top: 17px;
  left: 25px;
  display: flex;
  align-items: center;
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #00477DFF;
  text-decoration: none; 
}

.logo-img {
  width: 31px;
  height: 31px;
  margin-right: 10px;
}

.container {
  position: absolute;
  top: 68px;
  left: 4px;
  width: 1440px;
  height: 998px;
  background: #FFFFFFFF;
  border-radius: 0px;
} */

/* App.css */
.main-nav {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  display: flex;
  color: #00477DFF;
  text-decoration: none; 
  align-items: center;
  font-family: 'Poppins';
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.logo-img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.welcome-text {
  font-size: 2em;
  margin-bottom: 20px;
}

.login-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.login-button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}