@import url('https://fonts.googleapis.com/css?family=Poppins');

/* Navbar styling */
nav {
  background-color: #ffffff;
}

.main-nav {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.main-nav li {
  margin-right: 15px;
}

.main-nav li:last-child {
  margin-right: 0;
}

/* Logo styling */
.logo {
  position: absolute;
  top: 17px;
  left: 25px;
  display: flex;
  align-items: center;
  font-family: 'Poppins';
  font-size: 27px;
  font-weight: 700;
  color: #00477DFF;
  text-decoration: none;
}

/* Logo image styling */
.logo-img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

/* Container styling */
.container {
  position: absolute;
  top: 68px;
  left: 4px;
  width: 1440px;
  height: 998px;
  background: #FFFFFFFF;
  border-radius: 0px;
}

.main-nav a {
  text-decoration: none;
}