@import url('https://fonts.googleapis.com/css?family=Poppins');
nav {
  background-color: #ffffff;
}

.main-nav {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.main-nav li {
  margin-right: 15px;
}

.main-nav li:last-child {
  margin-right: 0;
}

.logo {
  position: absolute;
  top: 17px;
  left: 25px;
  display: flex;
  align-items: center;
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #00477DFF;
  text-decoration: none; 
}

.logo-img {
  width: 31px;
  height: 31px;
  margin-right: 10px;
}

.container {
  position: absolute;
  top: 68px;
  left: 4px;
  width: 1440px;
  height: 998px;
  background: #FFFFFFFF;
  border-radius: 0px;
}